<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center texto p-3 text-uppercase text-monospace font-weight-bold">Adote e seja Feliz!</h1>
        </div>

    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">
                Sabia que você pode mudar a vida de um pet e isso muda a sua também?
                <br>
                Somos a ONG Adote Pets e ajudamos você encontrar um amigo e companheiro para encher sua vida de amor!
                Adote e transforme o seu mundo e dos Pets! Entre em contato para mais infos.  
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

